pipeline/foreach_demo_array.json
{
	"name": "foreach_demo_array",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "create_array",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@createArray('yoav','katya','alex','limor','david','maor')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Append variable1",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "names",
								"value": {
									"value": "@item()",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "create_array",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "names",
					"value": {
						"value": "@intersection(array(0),array(1))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "output_names",
					"value": {
						"value": "@variables('names')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"name": {
				"type": "String",
				"defaultValue": "fozzie"
			},
			"names": {
				"type": "Array",
				"defaultValue": []
			},
			"output_names": {
				"type": "Array",
				"defaultValue": []
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-04-11T15:12:35Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}